
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
.active{
    color: green;
    font-size: 2.5rem;

}

.inactive{
    color: red;
    font-size: 2.5rem;
}

.product-tile-container {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-tile-card {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fafafa;
    border: 2px solid rgba(0, 0, 0, .10);
    width: 40rem;
    height: 100%;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
}

.card--title{
    padding-top: 3rem;
    color: #313135;
    font-weight: 700;
    font-size: 2.4rem;
    cursor: default;
    margin-top: 1.4rem;
}

.card-buy-link{
    font-size: 2rem;
    color: rgb(75, 75, 158);
}


.sku{
    font-size: 1.5rem;
}

.etsy{
    font-size: 2rem;
    color: gray;
}

.card--sub{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 40px;
    cursor: default;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-tile-card:hover{
    scale: 1.01;
}


.card-ingredients-container{
    font-size: 16px;
    flex-wrap: wrap;
    height: 8rem;
    margin-top: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.directions-span,.ingredients-span{
    font-size: 2rem;
    color: #E0872E;
    font-weight: bold;
    width: 100%;
    cursor: default;
}

.product-tile-image{
    background-size: cover;
    width: 396px;
    height: 300px;
    margin: 0 auto;
    z-index: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.product-tile-text{
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
}


.created-by{
    font-size: smaller;
    color: gray;
}

.view-item {
    justify-self: flex-end;
    position: absolute;
    text-decoration: none;
    color: #f2f2f2;
    background-color: #E0872E;
    border-radius: 4px;
    font-size: 2.4rem;
    padding: .4rem 0;
    width: 19rem;
    text-align: center;
    margin-left: 20rem;
    box-shadow: 2px 4px 12px rgba(29, 29, 29, 0.2);
}

.view-item:hover {
    scale: 1.1;
    color: #272727;
}


@media screen and (max-width: 600px) {
    .product-tile-card {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #fafafa;
        border: 2px solid rgba(0, 0, 0, .10);
        width: 400px;
        height: 620px;
        box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    }

    .card--title{
        padding-top: 3rem;
        color: #313135;
        font-weight: 700;
        font-size: smaller;
        cursor: default;
        margin-top: 1.4rem;
    }

    .recipe-tile-image{
        background-size: cover;
        width: 296px;
        height: 196px;
        margin: 0 auto;
        z-index: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .view-item {
        justify-self: flex-end;
        position: absolute;
        text-decoration: none;
        color: #f2f2f2;
        background-color: #E0872E;
        border-radius: 4px;
        font-size: 2.4rem;
        padding: .4rem 0;
        width: 19rem;
        text-align: center;
        margin-left: 9rem;
        box-shadow: 2px 4px 12px rgba(29, 29, 29, 0.2);
    }
  }

